RPC_HTTPS=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
RPC_WSS=wss://mainnet.helius-rpc.com/?api-key=YOUR_KEY
PRIVATE_KEY=
SLIPPAGE=10
TOKEN_AMOUNT=0.01
JITO_BLOCK_ENGINE_URL=https://ny.mainnet.block-engine.jito.wtf
JITO_TIP_VALUE=0.0001
UNIT_PRICE=20000
UNIT_LIMIT=300000
TIME_EXCEED=60
TP=3
SL=0.5
TRAIL_ACTIVATE=2
TRAIL_DROP=0.25
SELL_POLL_MS=800
SELL_RETRIES=3
ENABLE_AUTO_SELL=true
